// As hex codes */

$color-primary-0: #AAA039;	// Main Primary color */
$color-primary-1: #302F26;
$color-primary-2: #6D693D;
$color-primary-3: #E7D518;
$color-primary-4: #FFE900;

$color-secondary-1-0: #729C34;	// Main Secondary color (1) */
$color-secondary-1-1: #282C23;
$color-secondary-1-2: #526438;
$color-secondary-1-3: #87D416;
$color-secondary-1-4: #90F300;

$color-secondary-2-0: #AA8239;	// Main Secondary color (2) */
$color-secondary-2-1: #302C26;
$color-secondary-2-2: #6D5C3D;
$color-secondary-2-3: #E79E18;
$color-secondary-2-4: #FFA500;

*
    margin: 0
    padding: 0
    body
        margin-top: 1.5em
        background: url(img/bg.jpg)
        
        .grid
            width: 90%
            margin: 0 auto
            background-color: $color-secondary-2-4

            #quiz
                display: flex
                flex-direction: column
                
                h1
                    text-align: center
                    padding: 0.4em
                    border-bottom: 0.1em solid $color-primary-4
                
                h2
                    text-align: center
                    padding: 0.4em

                p
                    text-align: center
                    padding: 1em 0.2em
                    font-size: 1.2em
                    border-bottom: 0.2em solid $color-primary-4
                
                .buttons
                    display: flex
                    flex-direction: column
                    padding: 0.25em 0

                    #btn0,
                    #btn1,
                    #btn2,
                    #btn3
                        padding: 0.25em
                        font-size: 0.9em
                        text-align: center
                footer
                    border-top: 0.2em solid $color-primary-4
                    width: 100%
                    p
                        font-size: 0.9em